<span id="name-<%= @student.id %>"><h2>Student: <%= @student.name %></h2></span>

<section class="courses">
  <section>
    <% @student.student_courses.each do |course| %>
      <p> Grade: <%= course.grade %> </p>
    <% end %>
  </section>
  <p>Courses: <% @courses.each do |course| %></p>
      <ul><%= course.name %></ul>
  <% end %>
</section>
