<h2>Students in Each Course Ranked by Grade (highest => lowest)</h2>

<% @courses.each do |course| %>
  <h4><%= course.name %>: </h4>
  <% course.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
<% end %>
